---
import '@fontsource/onest'
import '@styles/global.css'
import config from '@/config'
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
---
<head>
  <!-- Global Metadata -->
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <link rel="icon" type="image/svg+xml" href={config.$_site.favicon}/>
  <meta name="generator" content={Astro.generator}/>
  <!-- Canonical URL -->
  <link rel="canonical" href={canonicalURL}/>

  <!-- Primary Meta Tags -->
  <meta name="title" content={config.$_site.title}/>
  <meta name="description" content={config.$_site.description}/>

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website"/>
  <meta property="og:url" content={Astro.url}/>
  <meta property="og:title" content={config.$_site.title}/>
  <meta property="og:description" content={config.$_site.description}/>
  <meta property="og:image" content={new URL(config.$_site.avatar, Astro.site?.href).href}/>
  <meta property="og:image:alt" content={config.$_site.description}/>

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image"/>
  <meta property="twitter:url" content={Astro.url}/>
  <meta property="twitter:title" content={config.$_site.title}/>
  <meta property="twitter:description" content={config.$_site.description}/>
  <meta property="twitter:image" content={new URL(config.$_site.avatar, Astro.site?.href).href}/>

  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="msapplication-TileColor" content="#da532c"/>
  <meta name="msapplication-config" content="/browserconfig.xml"/>
  <meta name="theme-color" content="#ffffff"/>

  <link rel="sitemap" href="/sitemap-0.xml"/>
  <title>{config.$_site.title}</title>
  <script is:inline src="/toggle-theme.js"></script>

  <!-- Google tag (gtag.js) -->
  {
    config.$_settings.ga &&
    <>
      <script src={"https://www.googletagmanager.com/gtag/js?id=" + config.$_settings.ga}></script>
      <script is:inline define:vars={{ga: config.$_settings.ga}}>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
          dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', ga);
      </script>
    </>
  }
</head>
